* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #000 url('img/fondo.jpg');
	background-size: cover;
	background-attachment: fixed;
}

 .contenedor {
	margin: auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
}

header {
	width: 100%;
	padding: 50px 0;

	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
}

header .menu a {
	color: #fff;
	text-decoration: none;
	margin-right:40px;
	font-size: 18px;
}

header .menu a:hover 
{
	border-bottom: 2px solid #fff;
}

.main {
	background: #fff;
	padding: 20px;
	width: 70%;
}

.main article .thumb {
	margin-bottom: 20px;
}

.main article .thumb img {
	vertical-align: top;
	width: 100%;
}

.main article h2 {
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}

.main article p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 27px;
}

aside {
	width: 30%;
	background: #f7cd00;
	padding: 20px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
}

aside .ad {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
	/*margin: 20px 0;*/
}

aside h4{
	color: #001028;
	border-bottom: 2px solid #001028;
	width: 70%;
	margin: auto;
	font-size: 20px;
	margin-bottom: 15px;
	text-align: left;
}

aside p{
	color: #001028;
	font-size: 16px;
	padding-left: 30px;
}

aside .ad a{
text-decoration: none;
display: inline-block;
color: #001028;
}
aside .ad a:hover{
	text-decoration:underline;
}

footer {
	margin: 20px 0;
	background: rgba(255,255,255,.2);
	padding: 20px;
	width: 100%;
	color: #fff;
	 display: flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content:space-between; 
}

footer .redes-sociales a {
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-left: 20px;
	text-decoration: none;
}

footer .redes-sociales a:hover {
	border:none;
}

@media screen and (max-width: 973px) {
	.main {
		width: 100%;
	}

	aside {
		width: 100%;
		flex-direction:row;
	}

	aside .ad {
		width: 40%;
	}
}

@media screen and (max-width: 480px) {
	header {
		flex-direction:column;
		padding-bottom: 20px; 
	}

	header .menu {
		width: 100%;
		background: rgba(255,255,255,.2);
		text-align: center;
		padding: 20px;
	}
 
	header .logo {
		margin-bottom: 20px;
	}

	header .menu a {
		margin:0 20px; 
	}

	footer {
		flex-direction:column;
		text-align: center;
	}

	footer .autor {
		order:2;
	}

	footer .redes-sociales {
		order:1;
		margin-bottom: 20px;
	} 
}

@media screen and (max-width: 676px) {
	aside {
		display: none;
	}
} 